
.primary-button{
    font-family: 'Readex Pro', sans-serif;

    padding: .5rem 3.5rem;
    margin: 1.5rem .5rem ;


    
    color: $white-light;
    background: $gradient-button;
    border:none;
    border-radius: 9px 6px;
    
    transform: matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-15%);

    cursor: pointer;
    transition: .7s ease-out;
    &:hover{
      // background: linear-gradient(105.18deg, #8B0930 0%, #1E0009 80.14%);
      transform:  scale(1.05) matrix(0.96, 0, -0.29, 1, 0, 0) ;
      box-shadow: -4px 18px 31px rgba(30, 0, 9, 0.18), -4px 6.5703px 11.3155px rgba(30, 0, 9, 0.124197), -4px 3.18976px 5.49347px rgba(30, 0, 9, 0.100132), -4px 1.56368px 2.693px rgba(30, 0, 9, 0.0798677), -4px 0.618281px 1.06482px rgba(30, 0, 9, 0.0558033);
    }
  }

  .secundary-button{
    font-family: 'Readex Pro', sans-serif;

    padding: .5rem 2rem;
    margin: 1.5rem .5rem ;


    
    color: $white-light;
    background: transparent;
    border:none;
    border-radius: 9px 6px;
    
    transform: matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-15%);

    cursor: pointer;
    transition: .7s ease-out;
    &:hover{  
      background-color: $primary-dark;
      transform:  scale(1.05) matrix(0.96, 0, -0.29, 1, 0, 0) ;
      box-shadow: -4px 18px 31px rgba(30, 0, 9, 0.18), -4px 6.5703px 11.3155px rgba(30, 0, 9, 0.124197), -4px 3.18976px 5.49347px rgba(30, 0, 9, 0.100132), -4px 1.56368px 2.693px rgba(30, 0, 9, 0.0798677), -4px 0.618281px 1.06482px rgba(30, 0, 9, 0.0558033);
    }
  }

  .form{
    perspective: 4000px;
    max-width: 55%;
    min-width: 500px;

    height: 80vh;
    padding: 0 1rem;

    // background-color: #050607;
    // opacity: 50%;
    
    .input{
      max-width: 90%;
      border:none;
      padding: 1rem 16rem 1rem 2rem;
      background: $gradient-input;
      border-radius: 16px;
      backdrop-filter: blur(4px);
      
      
      transition: .5s ease;
      & + .input{
        margin-top: 1.125rem ;
      }
      &:focus{
        box-shadow: 0px 9px 14px rgba(38, 31, 33, 0.23), 0px 3.28515px 5.11023px rgba(38, 31, 33, 0.158696), 0px 1.59488px 2.48092px rgba(38, 31, 33, 0.127947), 0px 0.781839px 1.21619px rgba(38, 31, 33, 0.102053), 0px 0.30914px 0.480885px rgba(38, 31, 33, 0.0713042);        
        outline: 0;
        color: $black-normal;
        transform: translateY(-3px);
      }
    }
  }
  

  .link{
  font-family: 'Readex Pro', sans-serif;

  background: $gradient-link;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  cursor: pointer;

  transition: 1.5s ease;
  &::after{
    content:"";
    display: block;
    margin-top: .2rem;
    height: 2px;
    width: 0%;
    background: linear-gradient(102.01deg, rgba(162, 13, 53, 0.64) 8.77%, #FCF6F8 95.09%);
    transition: 1.2s ease;
  }
  &:hover{
    transform: scale(1.03);
    &::after{
      width: 100%;
    }
  }
  }
  
  .subtitle{
    color: $white-dark;
    margin: 1rem 0;
    text-align: center;
  }

  //Elementos de Composição
  .circulo1{
    position: absolute;
    right:25%;
    top:15%;
  }
  .circulo1-2{
    position: absolute;
    right:34%;
    top:9%;
  }
  .circulo2{
    position: absolute;
    left:26%;
    top:31%;
  }
  .circulo3{
    position: absolute;
    right:29%;
    top:10%;
  }
  .circulo4{
    position: absolute;
    right:21%;
    top:7%;
  }

  .estrela1{
    position: absolute;
    left:20%;
    top:27.6%;
  }
  .estrela2{
    position: absolute;
    left:23.4%;
    top:35%;
  }

  