//Botões
.primary-button{
  font-family: 'Readex Pro', sans-serif;
  font-size: 18px;
  font-weight: 500;

  padding: .5rem 3.5rem;
  margin: 1.5rem .5rem ;


  
  color: $white-light;
  background: $gradient-button;
  border:none;
  border-radius: 9px 6px;
  
  transform: matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-15%);

  cursor: pointer;
  transition: .5s ease-out;
  &:hover{
    // background: linear-gradient(105.18deg, #8B0930 0%, #1E0009 80.14%);
    transform:  matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-5%) ;
    box-shadow: -4px 18px 31px rgba(30, 0, 9, 0.18), -4px 6.5703px 11.3155px rgba(30, 0, 9, 0.124197), -4px 3.18976px 5.49347px rgba(30, 0, 9, 0.100132), -4px 1.56368px 2.693px rgba(30, 0, 9, 0.0798677), -4px 0.618281px 1.06482px rgba(30, 0, 9, 0.0558033);
  }



  @media only screen and (max-width : 540px) {
    font-size: 12px;
  }
}

.secundary-button{
  font-family: 'Readex Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;

  padding: .5rem 2rem;
  margin: 2rem .1rem 1rem .1rem ;


  
  color: $white-light;
  background: transparent;
  border: 1px solid $white-dark;
  border-radius: 9px 6px;
  
  transform: matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-15%);

  cursor: pointer;
  transition: .5s ease-out;

  &:hover{  
    color: $primary-dark;
    background: $gradient-input;
    transform:  matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-5%) ;
    // box-shadow: -4px 18px 31px rgba(30, 0, 9, 0.18), -4px 6.5703px 11.3155px rgba(30, 0, 9, 0.124197), -4px 3.18976px 5.49347px rgba(30, 0, 9, 0.100132), -4px 1.56368px 2.693px rgba(30, 0, 9, 0.0798677), -4px 0.618281px 1.06482px rgba(30, 0, 9, 0.0558033);
    border: transparent;
  }

  &.active{
    color: $primary-dark;
    background: $gradient-input;
    transform:  matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-10%) ;
    // box-shadow: -4px 18px 31px rgba(30, 0, 9, 0.18), -4px 6.5703px 11.3155px rgba(30, 0, 9, 0.124197), -4px 3.18976px 5.49347px rgba(30, 0, 9, 0.100132), -4px 1.56368px 2.693px rgba(30, 0, 9, 0.0798677), -4px 0.618281px 1.06482px rgba(30, 0, 9, 0.0558033);
    border: transparent;
}
  
@media only screen and (max-width : 540px) {
  font-size: 12px;
}
}


//Elementos Header

 

.username{
  &>button{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Readex Pro', sans-serif;
  font-size: 18px;
  font-weight: 500;

  background: $gradient-link;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

border: none;

  transition: 1.5s ease;

  &::before{
    content:"";
    display: inline-block;
    background: url("../svg/iconeNotificação.svg") center center no-repeat;
    background-size: cover;
    width: .875rem;
    height: 1rem ;
    margin-right: 1rem;

    cursor: pointer;
    }
  &::after{
    content:"";
    display: inline-block;
    background: url("../svg/iconeSeta.svg") center center no-repeat;
    background-size: cover;
    width: 1rem;
    height: .5rem ;
    margin-left: .5rem;

    cursor: pointer;
    }
  }
  }
  .menu-usuário{
    position: absolute;
    top:4.4rem;


    padding: .25rem 0;
    border: 0px solid $white-dark;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.01);
    // backdrop-filter: blur(8px);
    z-index: +1;
    max-height: 0px;
    overflow: hidden;

    transition: .3s ease;
    

    @media only screen and (max-width : 540px) {
      top:4.4rem;
    }

    
  }
  .menu-items{
    position: relative;
    display: inline-block;
    font-family: 'Readex Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
    background: $gradient-link;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;


    padding: .125rem 1rem;
    margin: .125rem 0 ;
    cursor: pointer;

    &::after{
      content:"";
      display: block;
      margin-top: .1rem;
      height: 2px;
      width: 0%;
      background: linear-gradient(102.01deg, rgba(162, 13, 53, 0.64) 8.77%, #FCF6F8 95.09%);
      transition: 1.2s ease;
    }
    &:hover{
      transform: scale(1.03);
      &::after{
        width: 100%;
      }
    }
  }

  //Guess
  .guess{
    label:first-of-type{
      &::before{
        content:"";
        display: inline-block;
        background: url("../svg/iconeSeta2.svg") center center no-repeat;
        background-size: cover;
        width: 1rem;
        height: .5rem ;

        transform: translate(-28px);
    
        cursor: pointer;
        pointer-events: none;
        }
    }

    select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;


    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
    width: 7rem;
    padding: .875rem ;
    border: none;
    background: $gradient-link;
    border-radius: 2rem;
    font-size: 15px;
    }

    .partidas{
      width: 90%;
      color:$white-normal;

      .card-left{
        align-self: flex-start;
      }
      .card-right{
        align-self: flex-end;
      }

      .card{
        position: relative;
        
        width: 100%;
        max-width: 620px;
        padding: 1.5rem 1.5rem;
        margin-bottom: 1rem;

        @media only screen and (max-width : 540px) {
          padding: 1rem 1rem;
          margin-bottom: 1rem;
    
        }
  
        .card-background{
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          background: $gradient-main;
          pointer-events: none;
          
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.24);
          backdrop-filter: blur(2px);
          border-radius: 32.0978px 21.3985px;
          transform: matrix(0.96, 0, -0.29, 1, 0, 0);
          
          border: 1px solid $white-normal;
        }
        .jogo{
          width: 100%;
          padding: 0 .25rem;
          .times{

            width: 80%;
            margin: 0 1rem;
            &>div{ 
              width: 100%;
            }
            input{
              max-width: 2rem ;
              padding: .125rem 0rem .125rem .3rem;
              background: transparent;
              border:2px solid $white-dark;
              border-radius: .25rem;
              color: $white-light;
              

              &::placeholder{
                color: $white-light;
              }

              @media only screen and (max-width : 540px) {
                padding: .06rem 0rem .06rem .15rem;
                margin-top: .25rem;
          
              }
              
            }
          }
          .informações{
            border-left: 1px solid $white-dark;
            padding: 0 .5rem 0 1rem;

            @media only screen and (max-width : 540px) {
              padding: 0 .25rem 0 .25rem;
        
            }
          }
        }

      }
      
    }
   
    @media only screen and (max-width : 540px) {
      img{
        width: 20px;
      }
    }
  }


  //Fomulários e Inputs
  .form-container{
    width: 100%;
    min-width: 500px;
    // height: 80vh;
    padding: 1rem 1rem;

  .formCriarBolão, .formSearch{
      width: 40%;

      @media only screen and (max-width : 540px) {
        width: 80%;
      }
    }

    // background-color: #050607;
    // opacity: 50%;

    .input{
      width: 80%;
      max-width: 800px;
      border:none;
      padding: 1rem 1rem 1rem 2rem;
      background: $gradient-input;
      border-radius: 1rem;
      backdrop-filter: blur(4px);
      
      
      transition: .5s ease;
      & + .input{
        margin-top: 1.125rem ;
      }
      &:focus{
        box-shadow: 0px 9px 14px rgba(38, 31, 33, 0.23), 0px 3.28515px 5.11023px rgba(38, 31, 33, 0.158696), 0px 1.59488px 2.48092px rgba(38, 31, 33, 0.127947), 0px 0.781839px 1.21619px rgba(38, 31, 33, 0.102053), 0px 0.30914px 0.480885px rgba(38, 31, 33, 0.0713042);        
        outline: 0;
        color: $black-normal;
        transform: translateY(-5%);
      }
    }

  }
  
//Links
  .link{
  font-family: 'Readex Pro', sans-serif;
  font-size: 20px;
  font-weight: 500;

  background: $gradient-link;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  cursor: pointer;

  transition: 1.5s ease;
  &::after{
    content:"";
    display: block;
    margin-top: .2rem;
    height: 2px;
    width: 0%;
    background: linear-gradient(102.01deg, rgba(162, 13, 53, 0.64) 8.77%, #FCF6F8 95.09%);
    transition: 1.2s ease;
  }
  &:hover{
    transform: scale(1.03);
    &::after{
      width: 100%;
    }
  }


  @media only screen and (max-width : 540px) {
    font-size: 16px;
  }
  }
//Subtitulos
  .subtitle{
    color: $white-dark;
    font-family: 'Readex Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: .25rem 0 1.5rem 0;
    text-align: center;
  }

  //Elementos de Composição

  .circulo1{
    position: fixed;
    right:20%;
    top:18%;
    z-index: -1;
    @media only screen and (max-width : 540px) {
      right:15%;
      top:18%;
    
  }
   
  }
  .circulo1-2{
    position: fixed;
    right:30%;
    top:9%;
    z-index: -1;
    @media only screen and (max-width : 540px) {
      right:35%;
      top:9%;
    
  }
  }

  .circulo2{
    position: fixed;
    left:48.5%;
    top:40%;
    z-index: -1;
    @media only screen and (max-width : 540px) {
      left:59%;
      top:43%;
    
  }
  }
  .circulo3{
    position: fixed;
    right:25%;
    top:10%;
    z-index: -1;
    @media only screen and (max-width : 540px) {
      width: 12%;
    
  }
  }
  .circulo4{
    position: fixed;
    right:17%;
    top:9%;
    z-index: -1;
    @media only screen and (max-width : 540px) {
      width: 15%;
      right:12%;
      top:9%;
    
  }

  }

  .estrela1{
    position: fixed;
    left:46.5%;
    top:49.7%;
    z-index: -1;

    transform: translate3d(20px,20px,0);
    transform: translate3d(23px,-5px,0);
    transform: translate3d(20px,0px,0);

    animation: estrela1 15s ease 0s infinite alternate forwards ;

    @keyframes estrela1 {

      0%{
        transform: translate3d(20px,20px,0);
      }
      50%{
        transform: translate3d(23px,5px,0);
      }
      100%{
        transform: translate3d(20px,0px,0);
      }
      
    }
  
  }
  .estrela2{
    position: fixed;
    left:42%;
    top:46%;
    z-index: -1;

    animation: estrela2 20s ease 0s infinite alternate forwards ;

    @keyframes estrela2 {

      0%{
        transform: translate3d(10px,0px,0);
      }
      20%{
        transform: translate3d(0px,5px,0);
      }
      40%{
        transform: translate3d(-5px,0px,0);
      }
      60%{
        transform: translate3d(0px,-5px,0);
      }
      80%{
        transform: translate3d(5px,-10px,0);
      }
      100%{
        transform: translate3d(10px,0px,0);
      }
      
    }
  }
  .estrela3{
    position: fixed;
    left:5%;
    bottom:10%;
    z-index: -1;
    @media only screen and (max-width : 540px) {
      left:15%;
      bottom:2%;
      width: 13%;
  }
  }
  .estrela4{
    position: fixed;
    left:10%;
    bottom:7%;
    z-index: -1;
    @media only screen and (max-width : 540px) {
      left:15%;
      width: 10%;
  }
  }
  .losango1{
    position: fixed;
    left:9%;
    bottom:14%;
    z-index: -1;
    @media only screen and (max-width : 540px) {
      left:10%;
      bottom:2%;
      width: 8%;
  }
  }
  .losango2{
    position: fixed;
    left:1%;
    bottom:40%;
    z-index: -1;
    @media only screen and (max-width : 540px) {
      bottom:25%;
      width: 8%;
  }
  }
  .torcedor1{
    position: fixed;
    left:-1.16%;
    bottom:-3.35%;
    z-index: -1;

    animation: torcedor1 15s ease 0s infinite alternate forwards ;

      @keyframes torcedor1 {
  
        0%{
          transform: translate3d(-2px,3px,0) scale(1);
        }
        20%{
          transform: translate3d(0px,0px,0) scale(1);
        }
        40%{
          transform: translate3d(2px,-3px,0) scale(1.2);
        }
        60%{
          transform: translate3d(0px,0px,0) scale(1.2);
        }
        80%{
          transform: translate3d(-2px,-3px,0) scale(1);
        }
        100%{
          transform: translate3d(0px,0px,0) scale(1);
        }
        
      }

    @media only screen and (max-width : 540px) {
      width: 25%;
  }
  }
  .torcedor2{
    position: fixed;
    right:-1.1%;
    bottom:-2.5%;
    z-index: -1;

    animation: torcedor2 15s ease 0s infinite alternate forwards ;

    @keyframes torcedor2 {

      0%{
        transform: translate3d(0px,0px,0) scale(1);
      }
      20%{
        transform: translate3d(1px,-2px,0) scale(1);
      }
      40%{
        transform: translate3d(0px,-5px,0) scale(0.9);
      }
      60%{
        transform: translate3d(0px,2px,0) scale(0.9);
      }
      80%{
        transform: translate3d(1px,-5px,0) scale(1);
      }
      100%{
        transform: translate3d(0px,0px,0) scale(1);
      }
      
    }

    @media only screen and (max-width : 540px) {
      width: 25%;
    
  }
  }
  .campoDeFutebol1{
    width: 30%;
    position: fixed;
    right:10%;
    top:13%;
    z-index: -1;
  }
  .campoDeFutebol2{
    width: 30%;
    position: fixed;
    overflow: hidden;
    left:-10%;
    bottom:-25%;
    z-index: -1;
  }
  .campoDeFutebol3{
    width: 20%;
    position: fixed;
    left:10%;
    top:12%;
    z-index: -1;
  }
  .bola1{
    width: 7%;
    max-width: 100px;
    position: fixed;
    left:11%;
    top:15%;
  }
  // .chute1{
  //   width: 11%;
  //   max-width: 100px;
  //   position: fixed;
  //   left:8.5%;
  //   top:11%;
  // }

  .bola2{
    width: 7%;
    max-width: 100px;
    position: fixed;
    right:16%;
    bottom:30%;
  }
  // .chute2{
  //   width: 11%;
  //   position: fixed;
  //   right:13.8%;
  //   bottom:27.5%;
  // }
  
  .redes{
    position:fixed;
    top:40%;
    left:12%;
    gap:2.5rem;
    padding: .5rem;
    & img{
      width:1.5vw;
      min-width: 20px;
      cursor: pointer;
      transition: .5s ease;
      &:hover{
        transform: translateY(-7%);
      }
    }
    @media only screen and (max-width : 540px) {
        flex-direction: row;
        top:auto;
        bottom:25%;
        left:0;
        right: 0;

        & img{
        min-width: 23px;
        }
        
      
    }
  }

  //Classificação 

table{
  background: linear-gradient(359.59deg, rgba(222, 123, 153, 0.8) -87.98%, rgba(252, 246, 248, 0.8) 81.26%);
  backdrop-filter: blur(4px);
  border-radius: 15px;

  padding: 1rem;
  text-align: center;

  border-color: $primary-normal;

  width: 100%;
  max-width: 60%;

}
th,td{
  border: none;
}

th,tr,td{
  padding: 0 .5rem;;
}

th{
  background: $gradient-main;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  padding-bottom: 1rem;
  
  font-family: 'Readex Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

td{
  padding-bottom: .875rem;
  
  font-family: 'Readex Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
  

//Instruções

.instructions{

  width: 100%;
  max-width: 55%;

  margin-top: 2rem;
  padding: 1rem;

  background: linear-gradient(359.59deg, rgba(222, 123, 153, 0.8) -87.98%, rgba(252, 246, 248, 0.8) 81.26%);
  backdrop-filter: blur(4px);
  border-radius: 15px;

  .codigo{
    border-bottom: 2px solid $primary-light;
  }
  .pontuação{
    width: 100%;
    max-width: 7%;
  }

  .collumns p {
    background: $gradient-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  p{
  font-family: 'Readex Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;

  padding: .5rem .25rem;

  @media only screen and (max-width : 540px) {
    font-size: 10px;
  
}
  
  }
}

//Gerenciar Bolões 
.form-criarBolão{

  // #valorDaAposta{
  //   width: 100%;
  //  }

   label::before{
    content:"";
      display: inline-block;
      background: url("../svg/iconeSeta2.svg") center center no-repeat;
      background-size: cover;
      width: 1rem;
      height: .5rem ;

      transform: translateX(-110px)  translateY(-33px);
  
      cursor: pointer;
      pointer-events: none;
  }

   select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    align-self: flex-start;


    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    width: 7rem;
    padding: .875rem ;
    margin-left: 1.5rem;
    margin-top: 1.125rem ;
    border: none;
    background: $gradient-link;
    border-radius: 1rem;
    font-size: 15px;
    }

    .primary-button{
      margin-top: 1.5rem;
    }

    
    

    
}

.convidarAmigos{

ul{
  padding: .5rem;
  width: 65%;
  

  p{
    display: inline-block;
    font-family: 'Readex Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;

    padding: .25rem .25rem;

    color: $white-dark;
  }

  li:nth-child(odd):before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    background: url("../svg/circulo2.svg") center center no-repeat;
    background-size: cover;

  }

  li:nth-child(even):before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    background: url("../svg/circulo3.svg") center center no-repeat;
    background-size: cover;

  }
}

button{
  &::before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../svg/iconeWhatsapp.svg") center center no-repeat;
    background-size: cover;
    margin-right: .5rem;
    transform: translateY(4px);
  }
}
}


.resultadoPesquisa{
  width: 40%;
  li{
    border-bottom: 5px solid $primary-light;
    border-top: 5px solid $primary-light;
    border-radius: 1rem;

    margin: .5rem 0;
  }
  .nomeBolao{
    font-family: 'Readex Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;

  padding: .5rem .25rem;

  color: $white-dark;
  }
  button{
    margin-top: 1rem;
  }
}

.regulamento{
  ul{
    width: 50%;
    margin-top: 2rem;

    @media only screen and (max-width : 540px) {
      width: 70%;
      }

    li{
      width: 100%;
      padding: .5rem;
      border-bottom: 2px solid $primary-light;
      border-radius: .5rem;

      background: linear-gradient(359.59deg, rgba(222, 123, 153, 0.8) -87.98%, rgba(252, 246, 248, 0.8) 81.26%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      div{
        cursor: pointer;
        width: 100%;
        
      }

      .descrição{
        max-height: 0px;
        overflow: hidden;

        transition: .5s ease;

        width: 100%;
      }
    }
  }
  
  &>p{
    color:$white-dark;
    margin-top: 1rem;
  }

  @media only screen and (max-width : 540px) {
    .p2-light{
      font-size: 11px;
      padding: 0rem 1rem;
    }
    }
}


//Notificações

.notificações{
  li{
    border-bottom: 5px solid $primary-light;
    border-top: 5px solid $primary-light;
    border-radius: 1rem;

    margin: .5rem 0;
    padding: .875rem .875rem;
  }
  // .nomeDoJogador{
  //   font-family: 'Readex Pro', sans-serif;
  //   font-size: 16px;
  //   font-weight: 400;
  //   font-style: normal;
  //   padding: .5rem .25rem;

  //   color: $white-dark;

  // }
  p{
    font-family: 'Readex Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;

    margin-bottom: .875rem;


    color: $white-dark;
  }
  button{
    margin-top: 1rem;
  }
}

// .mensagem{
//   margin: -.5rem;
// }

.mensagem-green { 
  margin : 1rem 0 -.5rem 0;
  color: #32D957;
}

.mensagem-red { 
  margin : 1rem 0 -.5rem 0;
  color: #EB3D3D;
}

//Classificacao

.listaBoloes{
  li{
    
    background: $gradient-link;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  cursor: pointer;

  transition: 1.5s ease;
  &::after{
    content:"";
    display: block;
    margin-top: .2rem;
    height: 2px;
    width: 0%;
    background: linear-gradient(102.01deg, rgba(162, 13, 53, 0.64) 8.77%, #FCF6F8 95.09%);
    transition: 1.2s ease;
  }
  &:hover{
    transform: scale(1.03);
    &::after{
      width: 100%;
    }
  }
  }
  

}

.menuBolao{
  @media only screen and (max-width : 540px) {
    flex-wrap: wrap;
    padding: 0rem 4rem ;
    .secundary-button{
      font-size: 12px;
      margin: .5rem .1rem 1rem .1rem ;
    }
  }
}





//Tela de Animação

.transicao{
  .transicao-background{
    width: 100%;
    height: 100%;
    top : 0;
    z-index: +2;
    position: fixed;
    background-color: #0f0f0f;
    opacity: .7;
  }
  

  .bola{
    position: absolute;
    z-index: +2;

    margin: auto auto;

    left: 0;
    right: 0;

    top:0;
    bottom:0;
    
    transform-origin: center center;
    transform-box: fill-box;

    animation: bounce 4s ease infinite normal;
    animation-fill-mode: both;

    @keyframes bounce {
      0% { transform: scale(1,1) translateY(0); }
      5% { transform: scale(1.1,0.9) translateY(0); }
      25% { transform: scale(0.9,1.1) translateY(-208px);}
      50% {transform: scale(1.1,0.9) translateY(0); }
      60% { transform: scale(0.9,1.1) translateY(-40px); }
      70% {transform: scale(1.1,0.9) translateY(0); }
      100% {transform: scale(1,1) translateY(0);}
             
    }
  }
}

//modal
.modal-background{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  opacity: 0;
  pointer-events: none;

  transition: 0.5s ease-in;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  
  background-color: #0f0f0f;
  top: 0;
  left: 0;
  
}

.modal-containerText{
  background: $gradient-input;

  z-index: +3;

  border-radius: 1rem ;
  padding: 1.5rem;
  
  font-family: 'Readex Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;

  color:black;

  @media only screen and (max-width : 540px) {
    font-size: 12px;
    padding: 1rem;
  }


}

.modal-container {
  background: $gradient-main;
  color: $white-light;
  position: fixed;


  max-width: 600px;
  min-height: 230px;

  z-index: +3;

  padding: 1rem 2rem;
  border-radius: 2rem;

  border: 2px solid $white-dark;

  transform: translateY(-30%) translateX(-60%);


  display: grid;
  grid-template-rows: 1fr 3fr;
  align-items: center;

  .modal-title,
  .modal-content {
    text-align: center;
  }

  .modal-closed {
    position: absolute;

    top: 25px;
    right: 25px;

    cursor: pointer;

    transition: 0.5s ease;

    &:hover {
      color: $primary-normal;
    }
  }

  a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .button-wpp{
    margin: 0 auto;
    border: 1px solid $white-light;
    &::before{
      content:"";
      display: inline-block;
      background: url("../svg/iconeWpp.svg") center center no-repeat;
      background-size: cover;
      width: .875rem;
      height: 1rem ;
      margin-right: 1rem;

      
      cursor: pointer;
    
    }
    @media only screen and (max-width : 540px) {
      padding: .5rem 1.5rem;
      margin: .25rem 0;
      font-size: 14px;

    }
  }

  @media only screen and (max-width : 540px) {
    padding: .5rem;
    margin: 2rem;
  }
}

//Tela Inicial

.telaInicial{
  pointer-events: none;
  .telaInicial-background{
    width: 100%;
    height: 100vh;
    top : 0;
    z-index: +2;
    position: fixed;
    background-color: #0f0f0f;
    opacity: 1;

    animation: animacaoImagem 1s ease 9s forwards ;

    @keyframes animacaoBack {

      0%{
        opacity: 1;
      }
      100%{
        opacity: 0;
      }
    }
  }

  img{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;


    animation: animacaoImagem 5s ease 6s forwards ;

      @keyframes animacaoImagem {

        0%{
        opacity: 0;
        }
        50%,70%{
        opacity: 1;

        }
        100%{
          opacity: 0;
        }
      }
  }

  .telaInicial-animacao{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    z-index: +3;


    #animacaoCopa{
      position: fixed;
      transform: translateY(16%);

 

      animation: animacaoCopaInicial 7s ease 0s forwards ;

      @keyframes animacaoCopaInicial {

        0%{
          fill-opacity: 0;      
      stroke-dasharray: 1 1000;
      stroke-dashoffset: 0;
      stroke-width: 0;
      opacity: 1;
        }
        80%{
          fill-opacity: 1;
      stroke-dasharray: 100 0;
      stroke-dashoffset: 50;
      stroke-width: 0;
      opacity: 1;
        }
        100%{
          fill-opacity: 0;
      stroke-dasharray: 150 0;
      stroke-dashoffset: 0;
      stroke-width: 0;
      opacity: 0;

        }
        
      }
    }
  }
}