
.container {
  max-width: 1200px;
  margin: 0 auto;
}

//Header
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5rem 1.5rem;

}

//Main
.backgroundMain{
  position:absolute;
  z-index: -2;
  top:0;
  right: 0;
  height: 100vh;
}

.background-gradient{
  width: 100%;
  height: 100vh;
  position: absolute;
  left:0;
  z-index: -1;
  background: linear-gradient(129.07deg, rgba(41, 1, 14, 0.8) 4.77%, rgba(203, 58, 101, 0.1) 30.38%, rgba(193, 49, 91, 0.05) 42.9%, rgba(153, 12, 50, 0) 54.42%);
  mix-blend-mode: normal;
  opacity: 0.64;
}

