
.container {
  max-width: 1200px;
  margin: 0 auto;
}

//Header
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5rem 1.5rem;

}

//Main
//backgroundMain
.fundocopa{
  position:absolute;
  z-index: -2;
  top:0;
  right: 0;
  height: 100vh;
}

.background-gradient{
  width: 100%;
  height: 100vh;
  position: absolute;
  left:0;
  z-index: -1;
  background: $gradient-background;
  mix-blend-mode: normal;
  opacity: 0.64;
}


li{
  list-style: none;
}