h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white-light;
  font-family: 'Readex Pro', sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 600 ;
  @media only screen and (max-width : 540px) {
    font-size: 32px;
  }
}

h2 {
  font-size: 32px;
  font-weight: 400;
  @media only screen and (max-width : 540px) {
    font-size: 24px;
  }
  
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.65rem;
  margin:1.5rem 0 1.5rem 0;
  @media only screen and (max-width : 540px) {
    font-size: 20px;
  }
}

// h4 {
//   font-size: 24px;
//   font-weight: 300;
// }

// h5 {
//   font-size: 18px;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   color: $blue-light;
//   font-weight: 300;
// }

// h6 {
//   font-size: 16px;
//   font-weight: 300;
// }

.p1 {
  font-family: 'Readex Pro', sans-serif;
  font-size: 24px;
  font-weight: 300;
  @media only screen and (max-width : 540px) {
    font-size: 20px;
  }
}
.p2-medium {
  font-family: 'Readex Pro', sans-serif;
  font-size: 18px;
  font-weight: 500;
  @media only screen and (max-width : 540px) {
    font-size: 16px;
  }
}
.p2-regular {
  font-family: 'Readex Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  @media only screen and (max-width : 540px) {
    font-size: 10px;
  }

}
.p2-light {
  font-family: 'Readex Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  @media only screen and (max-width : 540px) {
    font-size: 16px;
  }
}
.p3 {
  font-family: 'Readex Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  @media only screen and (max-width : 540px) {
    font-size: 10px;
  }
}
.p4 {
  font-family: 'Readex Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $white-dark;
  @media only screen and (max-width : 540px) {
    font-size: 12px;
  }
}
