@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FCF6F8;
  font-family: "Readex Pro", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}
@media only screen and (max-width: 540px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 32px;
  font-weight: 400;
}
@media only screen and (max-width: 540px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.65rem;
  margin: 1.5rem 0 1.5rem 0;
}
@media only screen and (max-width: 540px) {
  h3 {
    font-size: 20px;
  }
}

.p1 {
  font-family: "Readex Pro", sans-serif;
  font-size: 24px;
  font-weight: 300;
}
@media only screen and (max-width: 540px) {
  .p1 {
    font-size: 20px;
  }
}

.p2-medium {
  font-family: "Readex Pro", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 540px) {
  .p2-medium {
    font-size: 16px;
  }
}

.p2-regular {
  font-family: "Readex Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (max-width: 540px) {
  .p2-regular {
    font-size: 10px;
  }
}

.p2-light {
  font-family: "Readex Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}
@media only screen and (max-width: 540px) {
  .p2-light {
    font-size: 16px;
  }
}

.p3 {
  font-family: "Readex Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (max-width: 540px) {
  .p3 {
    font-size: 10px;
  }
}

.p4 {
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #E5D3D6;
}
@media only screen and (max-width: 540px) {
  .p4 {
    font-size: 12px;
  }
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 8px !important;
}

.m-2 {
  margin: 16px !important;
}

.m-3 {
  margin: 24px !important;
}

.m-4 {
  margin: 32px !important;
}

.m-5 {
  margin: 48px !important;
}

.m-6 {
  margin: 64px !important;
}

.m-7 {
  margin: 72px !important;
}

.m-8 {
  margin: 96px !important;
}

.m-9 {
  margin: 128px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}

.mt-4 {
  margin-top: 32px !important;
}

.mt-5 {
  margin-top: 48px !important;
}

.mt-6 {
  margin-top: 64px !important;
}

.mt-7 {
  margin-top: 72px !important;
}

.mt-8 {
  margin-top: 96px !important;
}

.mt-9 {
  margin-top: 128px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-3 {
  margin-left: 24px !important;
}

.ml-4 {
  margin-left: 32px !important;
}

.ml-5 {
  margin-left: 48px !important;
}

.ml-6 {
  margin-left: 64px !important;
}

.ml-7 {
  margin-left: 72px !important;
}

.ml-8 {
  margin-left: 96px !important;
}

.ml-9 {
  margin-left: 128px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-3 {
  margin-right: 24px !important;
}

.mr-4 {
  margin-right: 32px !important;
}

.mr-5 {
  margin-right: 48px !important;
}

.mr-6 {
  margin-right: 64px !important;
}

.mr-7 {
  margin-right: 72px !important;
}

.mr-8 {
  margin-right: 96px !important;
}

.mr-9 {
  margin-right: 128px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mb-5 {
  margin-bottom: 48px !important;
}

.mb-6 {
  margin-bottom: 64px !important;
}

.mb-7 {
  margin-bottom: 72px !important;
}

.mb-8 {
  margin-bottom: 96px !important;
}

.mb-9 {
  margin-bottom: 128px !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mx-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mx-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mx-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mx-5 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.mx-6 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.mx-7 {
  margin-left: 72px !important;
  margin-right: 72px !important;
}

.mx-8 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}

.mx-9 {
  margin-left: 128px !important;
  margin-right: 128px !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.my-5 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.my-6 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.my-7 {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}

.my-8 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}

.my-9 {
  margin-top: 128px !important;
  margin-bottom: 128px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 8px !important;
}

.p-2 {
  padding: 16px !important;
}

.p-3 {
  padding: 24px !important;
}

.p-4 {
  padding: 32px !important;
}

.p-5 {
  padding: 48px !important;
}

.p-6 {
  padding: 64px !important;
}

.p-7 {
  padding: 72px !important;
}

.p-8 {
  padding: 96px !important;
}

.p-9 {
  padding: 128px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 8px !important;
}

.pt-2 {
  padding-top: 16px !important;
}

.pt-3 {
  padding-top: 24px !important;
}

.pt-4 {
  padding-top: 32px !important;
}

.pt-5 {
  padding-top: 48px !important;
}

.pt-6 {
  padding-top: 64px !important;
}

.pt-7 {
  padding-top: 72px !important;
}

.pt-8 {
  padding-top: 96px !important;
}

.pt-9 {
  padding-top: 128px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 8px !important;
}

.pl-2 {
  padding-left: 16px !important;
}

.pl-3 {
  padding-left: 24px !important;
}

.pl-4 {
  padding-left: 32px !important;
}

.pl-5 {
  padding-left: 48px !important;
}

.pl-6 {
  padding-left: 64px !important;
}

.pl-7 {
  padding-left: 72px !important;
}

.pl-8 {
  padding-left: 96px !important;
}

.pl-9 {
  padding-left: 128px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 8px !important;
}

.pr-2 {
  padding-right: 16px !important;
}

.pr-3 {
  padding-right: 24px !important;
}

.pr-4 {
  padding-right: 32px !important;
}

.pr-5 {
  padding-right: 48px !important;
}

.pr-6 {
  padding-right: 64px !important;
}

.pr-7 {
  padding-right: 72px !important;
}

.pr-8 {
  padding-right: 96px !important;
}

.pr-9 {
  padding-right: 128px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 8px !important;
}

.pb-2 {
  padding-bottom: 16px !important;
}

.pb-3 {
  padding-bottom: 24px !important;
}

.pb-4 {
  padding-bottom: 32px !important;
}

.pb-5 {
  padding-bottom: 48px !important;
}

.pb-6 {
  padding-bottom: 64px !important;
}

.pb-7 {
  padding-bottom: 72px !important;
}

.pb-8 {
  padding-bottom: 96px !important;
}

.pb-9 {
  padding-bottom: 128px !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px-5 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.px-6 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.px-7 {
  padding-left: 72px !important;
  padding-right: 72px !important;
}

.px-8 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}

.px-9 {
  padding-left: 128px !important;
  padding-right: 128px !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py-5 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.py-6 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.py-7 {
  padding-top: 72px !important;
  padding-bottom: 72px !important;
}

.py-8 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

.py-9 {
  padding-top: 128px !important;
  padding-bottom: 128px !important;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-collumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background: linear-gradient(123.43deg, #A20D35 3.55%, #A20D35 41.67%, #9A0C32 63.33%);
  width: 100%;
  height: 100vh;
}

img {
  max-width: 100%;
}

.username > button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Readex Pro", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(0deg, #8B0930 -30.11%, #FCF6F8 72.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: none;
  transition: 1.5s ease;
}
.username > button::before {
  content: "";
  display: inline-block;
  background: url("../svg/iconeNotificação.svg") center center no-repeat;
  background-size: cover;
  width: 0.875rem;
  height: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.username > button::after {
  content: "";
  display: inline-block;
  background: url("../svg/iconeSeta.svg") center center no-repeat;
  background-size: cover;
  width: 1rem;
  height: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.menu-usuário {
  position: absolute;
  top: 3.7rem;
  padding: 0.25rem 0;
  border: 0px solid #E5D3D6;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.01);
  z-index: 1;
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s ease;
}
@media only screen and (max-width: 540px) {
  .menu-usuário {
    top: 4.4rem;
  }
}

.menu-items {
  position: relative;
  display: inline-block;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: linear-gradient(0deg, #8B0930 -30.11%, #FCF6F8 72.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0.125rem 1rem;
  margin: 0.125rem 0;
  cursor: pointer;
}
.menu-items::after {
  content: "";
  display: block;
  margin-top: 0.1rem;
  height: 2px;
  width: 0%;
  background: linear-gradient(102.01deg, rgba(162, 13, 53, 0.64) 8.77%, #FCF6F8 95.09%);
  transition: 1.2s ease;
}
.menu-items:hover {
  transform: scale(1.03);
}
.menu-items:hover::after {
  width: 100%;
}

.guess label:first-of-type::before {
  content: "";
  display: inline-block;
  background: url("../svg/iconeSeta2.svg") center center no-repeat;
  background-size: cover;
  width: 1rem;
  height: 0.5rem;
  transform: translate(-28px);
  cursor: pointer;
  pointer-events: none;
}
.guess select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Readex Pro", sans-serif;
  font-weight: 500;
  width: 7rem;
  padding: 0.875rem;
  border: none;
  background: linear-gradient(0deg, #8B0930 -30.11%, #FCF6F8 72.03%);
  border-radius: 2rem;
  font-size: 15px;
}
.guess .partidas {
  width: 90%;
  color: #F4EEEF;
}
.guess .partidas .card-left {
  align-self: flex-start;
}
.guess .partidas .card-right {
  align-self: flex-end;
}
.guess .partidas .card {
  position: relative;
  width: 100%;
  max-width: 620px;
  padding: 1.5rem 1.5rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 540px) {
  .guess .partidas .card {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }
}
.guess .partidas .card .card-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: linear-gradient(105.18deg, #A20D35 35.63%, rgba(30, 0, 9, 0.72) 80.14%);
  pointer-events: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.24);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 32.0978px 21.3985px;
  transform: matrix(0.96, 0, -0.29, 1, 0, 0);
  border: 1px solid #F4EEEF;
}
.guess .partidas .card .jogo {
  width: 100%;
  padding: 0 0.25rem;
}
.guess .partidas .card .jogo .times {
  width: 80%;
  margin: 0 1rem;
}
.guess .partidas .card .jogo .times > div {
  width: 100%;
}
.guess .partidas .card .jogo .times input {
  max-width: 2rem;
  padding: 0.125rem 0rem 0.125rem 0.3rem;
  background: transparent;
  border: 2px solid #E5D3D6;
  border-radius: 0.25rem;
  color: #FCF6F8;
}
.guess .partidas .card .jogo .times input::-moz-placeholder {
  color: #FCF6F8;
}
.guess .partidas .card .jogo .times input:-ms-input-placeholder {
  color: #FCF6F8;
}
.guess .partidas .card .jogo .times input::placeholder {
  color: #FCF6F8;
}
@media only screen and (max-width: 540px) {
  .guess .partidas .card .jogo .times input {
    padding: 0.06rem 0rem 0.06rem 0.15rem;
    margin-top: 0.25rem;
  }
}
.guess .partidas .card .jogo .informações {
  border-left: 1px solid #E5D3D6;
  padding: 0 0.5rem 0 1rem;
}
@media only screen and (max-width: 540px) {
  .guess .partidas .card .jogo .informações {
    padding: 0 0.25rem 0 0.25rem;
  }
}
@media only screen and (max-width: 540px) {
  .guess img {
    width: 20px;
  }
}

.primary-button {
  font-family: "Readex Pro", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 0.5rem 3.5rem;
  margin: 1.5rem 0.5rem;
  color: #FCF6F8;
  background: linear-gradient(105.18deg, #A20D35 0%, rgba(30, 0, 9, 0.72) 80.14%);
  border: none;
  border-radius: 9px 6px;
  transform: matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-15%);
  cursor: pointer;
  transition: 0.5s ease-out;
}
.primary-button:hover {
  transform: matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-5%);
  box-shadow: -4px 18px 31px rgba(30, 0, 9, 0.18), -4px 6.5703px 11.3155px rgba(30, 0, 9, 0.124197), -4px 3.18976px 5.49347px rgba(30, 0, 9, 0.100132), -4px 1.56368px 2.693px rgba(30, 0, 9, 0.0798677), -4px 0.618281px 1.06482px rgba(30, 0, 9, 0.0558033);
}
@media only screen and (max-width: 540px) {
  .primary-button {
    font-size: 12px;
  }
}

.secundary-button {
  font-family: "Readex Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0.5rem 2rem;
  margin: 2rem 0.1rem 1rem 0.1rem;
  color: #FCF6F8;
  background: transparent;
  border: 1px solid #E5D3D6;
  border-radius: 9px 6px;
  transform: matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-15%);
  cursor: pointer;
  transition: 0.5s ease-out;
}
.secundary-button:hover {
  color: #5B011C;
  background: linear-gradient(90deg, #F4EEEF 0%, rgba(244, 238, 239, 0.16) 100%);
  transform: matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-5%);
  border: transparent;
}
.secundary-button.active {
  color: #5B011C;
  background: linear-gradient(90deg, #F4EEEF 0%, rgba(244, 238, 239, 0.16) 100%);
  transform: matrix(0.96, 0, -0.29, 1, 0, 0) translateY(-10%);
  border: transparent;
}
@media only screen and (max-width: 540px) {
  .secundary-button {
    font-size: 12px;
  }
}

.form-container {
  width: 100%;
  min-width: 500px;
  padding: 1rem 1rem;
}
.form-container .formCriarBolão, .form-container .formSearch {
  width: 40%;
}
@media only screen and (max-width: 540px) {
  .form-container .formCriarBolão, .form-container .formSearch {
    width: 80%;
  }
}
.form-container .input {
  width: 80%;
  max-width: 800px;
  border: none;
  padding: 1rem 1rem 1rem 2rem;
  background: linear-gradient(90deg, #F4EEEF 0%, rgba(244, 238, 239, 0.16) 100%);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: 0.5s ease;
}
.form-container .input + .input {
  margin-top: 1.125rem;
}
.form-container .input:focus {
  box-shadow: 0px 9px 14px rgba(38, 31, 33, 0.23), 0px 3.28515px 5.11023px rgba(38, 31, 33, 0.158696), 0px 1.59488px 2.48092px rgba(38, 31, 33, 0.127947), 0px 0.781839px 1.21619px rgba(38, 31, 33, 0.102053), 0px 0.30914px 0.480885px rgba(38, 31, 33, 0.0713042);
  outline: 0;
  color: #362F31;
  transform: translateY(-5%);
}

.link {
  font-family: "Readex Pro", sans-serif;
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(0deg, #8B0930 -30.11%, #FCF6F8 72.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
  transition: 1.5s ease;
}
.link::after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  height: 2px;
  width: 0%;
  background: linear-gradient(102.01deg, rgba(162, 13, 53, 0.64) 8.77%, #FCF6F8 95.09%);
  transition: 1.2s ease;
}
.link:hover {
  transform: scale(1.03);
}
.link:hover::after {
  width: 100%;
}
@media only screen and (max-width: 540px) {
  .link {
    font-size: 16px;
  }
}

.subtitle {
  color: #E5D3D6;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0.25rem 0 1.5rem 0;
  text-align: center;
}

.circulo1 {
  position: fixed;
  right: 20%;
  top: 18%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .circulo1 {
    right: 15%;
    top: 18%;
  }
}

.circulo1-2 {
  position: fixed;
  right: 30%;
  top: 9%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .circulo1-2 {
    right: 35%;
    top: 9%;
  }
}

.circulo2 {
  position: fixed;
  left: 48.5%;
  top: 40%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .circulo2 {
    left: 59%;
    top: 43%;
  }
}

.circulo3 {
  position: fixed;
  right: 25%;
  top: 10%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .circulo3 {
    width: 12%;
  }
}

.circulo4 {
  position: fixed;
  right: 17%;
  top: 9%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .circulo4 {
    width: 15%;
    right: 12%;
    top: 9%;
  }
}

.estrela1 {
  position: fixed;
  left: 46.5%;
  top: 49.7%;
  z-index: -1;
}

.estrela2 {
  position: fixed;
  left: 42%;
  top: 46%;
  z-index: -1;
}

.estrela3 {
  position: fixed;
  left: 5%;
  bottom: 10%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .estrela3 {
    left: 15%;
    bottom: 2%;
    width: 13%;
  }
}

.estrela4 {
  position: fixed;
  left: 10%;
  bottom: 7%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .estrela4 {
    left: 15%;
    width: 10%;
  }
}

.losango1 {
  position: fixed;
  left: 9%;
  bottom: 14%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .losango1 {
    left: 10%;
    bottom: 2%;
    width: 8%;
  }
}

.losango2 {
  position: fixed;
  left: 1%;
  bottom: 40%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .losango2 {
    bottom: 25%;
    width: 8%;
  }
}

.torcedor1 {
  position: fixed;
  left: -1.16%;
  bottom: -3.35%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .torcedor1 {
    width: 25%;
  }
}

.torcedor2 {
  position: fixed;
  right: -1.1%;
  bottom: -2.5%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .torcedor2 {
    width: 25%;
  }
}

.campoDeFutebol1 {
  width: 30%;
  position: fixed;
  right: 10%;
  top: 13%;
  z-index: -1;
}

.campoDeFutebol2 {
  width: 30%;
  position: fixed;
  overflow: hidden;
  left: -10%;
  bottom: -25%;
  z-index: -1;
}

.campoDeFutebol3 {
  width: 20%;
  position: fixed;
  left: 10%;
  top: 12%;
  z-index: -1;
}

.bola1 {
  width: 7%;
  max-width: 100px;
  position: fixed;
  left: 11%;
  top: 15%;
}

.bola2 {
  width: 7%;
  max-width: 100px;
  position: fixed;
  right: 16%;
  bottom: 30%;
}

.redes {
  position: fixed;
  top: 40%;
  left: 12%;
  gap: 2.5rem;
  padding: 0.5rem;
}
.redes img {
  width: 1.5vw;
  min-width: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.redes img:hover {
  transform: translateY(-7%);
}
@media only screen and (max-width: 540px) {
  .redes {
    flex-direction: row;
    top: auto;
    bottom: 5%;
    left: 0;
    right: 0;
  }
}

table {
  background: linear-gradient(359.59deg, rgba(222, 123, 153, 0.8) -87.98%, rgba(252, 246, 248, 0.8) 81.26%);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  border-color: #8B0930;
  width: 100%;
  max-width: 60%;
}

th, td {
  border: none;
}

th, tr, td {
  padding: 0 0.5rem;
}

th {
  background: linear-gradient(105.18deg, #A20D35 35.63%, rgba(30, 0, 9, 0.72) 80.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 1rem;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

td {
  padding-bottom: 0.875rem;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.instructions {
  width: 100%;
  max-width: 55%;
  margin-top: 2rem;
  padding: 1rem;
  background: linear-gradient(359.59deg, rgba(222, 123, 153, 0.8) -87.98%, rgba(252, 246, 248, 0.8) 81.26%);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 15px;
}
.instructions .codigo {
  border-bottom: 2px solid #AD4766;
}
.instructions .pontuação {
  width: 100%;
  max-width: 7%;
}
.instructions .collumns p {
  background: linear-gradient(105.18deg, #A20D35 35.63%, rgba(30, 0, 9, 0.72) 80.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.instructions p {
  font-family: "Readex Pro", sans-serif;
  font-size: 12px;
  font-weight: 300;
  padding: 0.5rem 0.25rem;
}
@media only screen and (max-width: 540px) {
  .instructions p {
    font-size: 10px;
  }
}

.form-criarBolão label::before {
  content: "";
  display: inline-block;
  background: url("../svg/iconeSeta2.svg") center center no-repeat;
  background-size: cover;
  width: 1rem;
  height: 0.5rem;
  transform: translateX(-110px) translateY(-33px);
  cursor: pointer;
  pointer-events: none;
}
.form-criarBolão select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  align-self: flex-start;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  width: 7rem;
  padding: 0.875rem;
  margin-left: 1.5rem;
  margin-top: 1.125rem;
  border: none;
  background: linear-gradient(0deg, #8B0930 -30.11%, #FCF6F8 72.03%);
  border-radius: 1rem;
  font-size: 15px;
}
.form-criarBolão .primary-button {
  margin-top: 1.5rem;
}

.convidarAmigos ul {
  padding: 0.5rem;
  width: 65%;
}
.convidarAmigos ul p {
  display: inline-block;
  font-family: "Readex Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 0.25rem 0.25rem;
  color: #E5D3D6;
}
.convidarAmigos ul li:nth-child(odd):before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background: url("../svg/circulo2.svg") center center no-repeat;
  background-size: cover;
}
.convidarAmigos ul li:nth-child(even):before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background: url("../svg/circulo3.svg") center center no-repeat;
  background-size: cover;
}
.convidarAmigos button::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../svg/iconeWhatsapp.svg") center center no-repeat;
  background-size: cover;
  margin-right: 0.5rem;
  transform: translateY(4px);
}

.resultadoPesquisa {
  width: 40%;
}
.resultadoPesquisa li {
  border-bottom: 5px solid #AD4766;
  border-top: 5px solid #AD4766;
  border-radius: 1rem;
  margin: 0.5rem 0;
}
.resultadoPesquisa .nomeBolao {
  font-family: "Readex Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0.5rem 0.25rem;
  color: #E5D3D6;
}
.resultadoPesquisa button {
  margin-top: 1rem;
}

.regulamento ul {
  width: 50%;
  margin-top: 2rem;
}
@media only screen and (max-width: 540px) {
  .regulamento ul {
    width: 70%;
  }
}
.regulamento ul li {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 2px solid #AD4766;
  border-radius: 0.5rem;
  background: linear-gradient(359.59deg, rgba(222, 123, 153, 0.8) -87.98%, rgba(252, 246, 248, 0.8) 81.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.regulamento ul li div {
  cursor: pointer;
  width: 100%;
}
.regulamento ul li .descrição {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s ease;
  width: 100%;
}
.regulamento > p {
  color: #E5D3D6;
  margin-top: 1rem;
}
@media only screen and (max-width: 540px) {
  .regulamento .p2-light {
    font-size: 11px;
    padding: 0rem 1rem;
  }
}

.notificações li {
  border-bottom: 5px solid #AD4766;
  border-top: 5px solid #AD4766;
  border-radius: 1rem;
  margin: 0.5rem 0;
  padding: 0.875rem 0.875rem;
}
.notificações p {
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.875rem;
  color: #E5D3D6;
}
.notificações button {
  margin-top: 1rem;
}

.mensagem-green {
  margin: 1rem 0 -0.5rem 0;
  color: #32D957;
}

.mensagem-red {
  margin: 1rem 0 -0.5rem 0;
  color: #EB3D3D;
}

.listaBoloes li {
  background: linear-gradient(0deg, #8B0930 -30.11%, #FCF6F8 72.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
  transition: 1.5s ease;
}
.listaBoloes li::after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  height: 2px;
  width: 0%;
  background: linear-gradient(102.01deg, rgba(162, 13, 53, 0.64) 8.77%, #FCF6F8 95.09%);
  transition: 1.2s ease;
}
.listaBoloes li:hover {
  transform: scale(1.03);
}
.listaBoloes li:hover::after {
  width: 100%;
}

@media only screen and (max-width: 540px) {
  .menuBolao {
    flex-wrap: wrap;
    padding: 0rem 4rem;
  }
  .menuBolao .secundary-button {
    font-size: 12px;
    margin: 0.5rem 0.1rem 1rem 0.1rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.25rem 1rem;
}

.fundocopa {
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  height: 100vh;
}
@media only screen and (max-width: 540px) {
  .fundocopa {
    position: absolute;
    display: block;
    text-align: center;
    right: auto;
    top: auto;
  }
}

.background-gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(101.2deg, #0D0005 4.75%, #A10B2E 49.86%, #120006 86.08%);
  mix-blend-mode: normal;
  opacity: 0.64;
}

.background2 {
  position: fixed;
  border: 10px solid white;
}

li {
  list-style: none;
}/*# sourceMappingURL=style.css.map */